*, *:before, *:after {
   box-sizing:border-box;
}
body {
   margin: 0 auto;
   font-family: 'Roboto', serif, Arial, Helvetica, sans-serif;
}
.container {
   max-width: 1180px;
   width: 100%;
   margin: 0 auto;
   padding-top: 55px;
}
.btn {
   padding: 16px 66px;
   font: 900 20px/23px 'Roboto';
   color: #000;
   border: none;
   background-color: #FFDA45;
   transition: background-color .2s ease;
   cursor: pointer;
   box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.25);
   margin-bottom: 18px;
}
.btn:hover {
   background-color:#f9df79;
}

p {
   margin: 0;
   font-weight: 900;
   font-size: 20px;
   color: #E1E6E9;
   line-height: 23px;
}

.header {
   display: flex;
   width: 100%;
   position: absolute;
   top: 0;
   left:0;
   z-index: 3;
}

.header .container {
   padding-top: 70px;
}

.header__menu {
   display:flex;
   justify-content:flex-end;
}
.menu__item {
   margin-right: 60px;
   font-weight: 900;
   font-size: 18px;
   text-decoration: none;
   color: #fff;
   transition: background-color .2s ease;
}
.menu__item:last-child {
   margin-right: 0;
}
.menu__item:hover {
   color: rgb(191, 191, 196);
}
/* header end */

.tickets {
   background-repeat: no-repeat;
   background-size: cover;
   padding-top: 92px;
   text-align: right;
   }
/* опять сделала cover, картинка обрезанная если убрать, по макету сьезжает */


.tickets__content {
   display: flex;
   flex-direction: column;
   align-items: flex-end;
   padding-top: 130px;
   height: 748px;
}

.tickets__title {
   font-weight: 900;
   font-size: 40px;
   color: #E1E6E9;
   margin: 0 0 10px 0;
}

.tickets p {
   width: 283px;
   margin-bottom: 39px;
}

.tickets .btn{
   background-color: #E0036F;
   color:#fff;
   max-width: max-content;
}
/* tickets end */

.sale {
   margin: 0;
   width: 100%;
   min-height: 397px;
   background: #E3EAFE;
}

.sale__block {
   margin: 0 auto;
   text-align: center;
}

.sale__subtitle {
   margin: 0 auto;
   align-self: center;
   width: 620px;
   font: 500 30px/35px 'Roboto';
   color: #585858;
   margin-bottom: 40px;
}

.sale__subtitle-rub {
   margin: 0 auto;
   margin-bottom: 33px;
   font: 900 30px/35px 'Roboto';
   color: #263B83;
}

.sale__item {
   margin: 0 auto;
   display: block;
   font: 900 20px/23px 'Roboto';
   color: #585858;
   outline: none;
   border: 0;
   border-bottom: 3px solid #FFDA45;
   background: transparent;
   transition: background-color .2s ease;
   padding: 0;
   padding-bottom: 8px;
}
.sale__item:hover {
color: rgb(173, 173, 176);
}
/* sale end */

.info {
   background-color: #405DBB;
   width: 100%;
}
.info .container {
   padding: 0;
}

.info__content {
   margin: 0 auto;
   display: flex;
   align-items: center;
   }

.info__title {
margin: 0;
font-weight: 900;
font-size: 30px;
color: #fff;
}
.info__h {
   margin: 0 0 20px 0;
   font-weight: 900;
   font-size: 30px;
   line-height: 35px;
}
.info__title p {
margin-right: 43px;
}
.info__img {
   background: no-repeat;
   margin-right: 43px;
}

.info .btn{
   padding: 16px 30px;
   margin-bottom: 0;
}
/* info end */

.speakers {
   margin: 0 auto;
   background-color: #E3EAFE;
   width: 100%;
}   
.speakers .container {
   padding-top: 86px;
}
.speakers__block {
   text-align: center;
   padding-bottom: 85px;
}
/* здесь сделала паддинг, с маржином не получилось, изменила код footer, удалила контейнер и сделала wrapper */

.speakers__subtitle {
   margin: auto;
   padding-bottom: 78px;
   width: 450px;
   font: 500 30px/35px 'Roboto';
   color: #585858;
}
.ul {
   margin: 0;
   padding: 0;
   flex-wrap: wrap;
   display: flex;
   align-items: stretch;
   justify-content: center;
   list-style-type: none;
   gap: 65px 20px;
}

/* speakers end */

.footer {
   background-color:  #0E1E71;
   width: 100%;
}

.footer__wrapper {
   max-width: 1180px;
   width: 100%;
   margin: 0 auto;
   padding-top: 48px;
   display: flex;
   justify-content: space-between;
}

.footer__loc {
   position: relative;
   display: flex;
   font-weight: 900;
   font-size: 18px;
   text-decoration: none;
   color: #fff;
   transition: background-color .2s ease;
   margin-right: auto;
   }

.footer_loc_map {
   position: absolute;
   padding-left: 20px; 
   background: no-repeat url(images/Group.svg);
   color: #E1E6E9;
}

.footer__info {
   display: flex;
   justify-content: right;
   flex-direction: column;
}

.footer__tel {
   font-weight: 900;
   font-size: 18px;
   text-decoration: none;
   color: #E1E6E9;
   margin-right: 18px;
}

.footer__soc {
   display: flex;
   justify-content: right;
}
